[Unit]
Description=Osmo SIP Connector

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/osmo-sip-connector -c /etc/osmocom/osmo-sip-connector.cfg
RestartSec=2
ExecStopPost=/usr/local/bin/save_log_tail osmo-sip-connector

[Install]
WantedBy=multi-user.target
