*.o
*.a
Makefile.in
Makefile
.deps
*.sw?
.version

aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1

osmo-sip-connector
.tarball-version
.version

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmomsc-usermanual.xml
doc/manuals/common
doc/manuals/build
